.posts {
  list-style-type: none;
  margin: 0;
}

.post {
  a {
    color: #000000;
    display: block;
    text-decoration: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  a:hover {
    background: #e4e4e4;
  }

  h3 {
    margin-bottom: 0;
  }

  small {
    color: #777777;
    font-size: 0.8em;
  }
  p {
    font-size: 0.9em;
  }
}

section {
  margin-bottom: 2em;
}

hr {
  margin-bottom: 2em;
}
